extends layout_main.pug

block content
	.content
		h1#titulo_pagina Cadastrar
		form(method='POST')#login_form
			input(type='text' placeholder='Nome de usuário' name='user')
			input(type='password' placeholder='Senha' name='passwd')
			input(type='email' placeholder='Email' name='email')
			input(type='submit' value="Cadastrar")

