extends layout_main.pug

block content
	.content
		h1#titulo_pagina Consultar sócio
		form(method='POST')#login_form
			input(type='text' placeholder='CPF' name='cpf')
			input(type='submit' value="Consultar")

		if reservas != undefined
			table.table
				tr.row
					th Sala
					th Data
					th Inicio
					th Duração
				each row in reservas
					tr.row
						td #{row.sala}
						td #{row.data}
						td #{row.inicio}
						td #{row.duracao}
