extends layout_main.pug

block content
    .content
        h1#titulo_pagina Consultar disponibilidade da sala
        form(method='POST')#login_form
            input(type='number' placeholder='Sala' name='sala')
            input(type='submit' value="Consultar")
        

        if reservas
            table.table
                tr.row
                    th Sócio
                    th Data
                    th Inicio
                    th Duração
                each row in reservas
                    tr.row
                        td #{row.socio}
                        td #{row.data}
                        td #{row.inicio}
                        td #{row.duracao}