header.header
	a(href='/').logo
		img(id='logo' src="./images/logo.png", alt="Logo icone squash")
	navbar#navbar
		ul#navbar_list
			li.navbar_item
				a(href='/') Home
			li.navbar_item
				a(href='/entrar') Login
			li.navbar_item
				a(href='/cadastrar') Cadastrar
			li.navbar_item
				a(href='/consultar-sala') Consultar
			li.navbar_item
				a(href='/agendar') Agendar
			li.navbar_item
				a(href='/consultar-socio') Sócio
