extends layout_main.pug

block content
	.content
		h1#titulo_pagina Sistema de controle de reservas
		p Sistema de controle de reservas de sala de Squash para academias e centros esportivos.
		h2 Objetivos do trabalho
		ol#objetivos_trabalho
			li Implementar um sistema de controle de reservas de sala de Squash. Essa aplicação deve permitir a consulta das disponibilidades de salas, reservar salas, e verificar se um sócio tem sala reservada e qual é a sala reservada.
			li Usar o padrão DAO (“Data Access Object”) para acessar o BD. Vejam explicação na aula.
			li Explicar como poderiam melhorar o desempenho da aplicação, fazendo um tuning do BD.
			li Trabalhar com uma grande quantidade de salas e sócios e tentem melhorar o desempenho.
			li Fazer um paralelo apresentando o tempo de execução antes e depois da melhoras.
		h2 Implementação
		p Para a implementação foi usado Javascript, MySQL, CSS...