* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #242222;
	color: #ffffff;
	width: 100vw;
	min-height: 100vh;
}

body {
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #000000;
}

.header {
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	background-color: #131212;
}

#navbar {
	display: flex;
	align-items: center;
	width: 50%;
}

#navbar_list {
	display: flex;
	width: 100%;
	justify-content: end;
}

.navbar_item {
	list-style: none;
	margin-right: 5%;
	font-size: 1.5rem;
	background-color: #fe8607;
	border-radius: 10px;
	padding: 0 2% 0 2%;
}

.logo {
	margin-left: 2%;
	display: flex;
	align-self: center;
	align-items: center;
	height: 14;
	width: 14%;
}

#logo {
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%);
}

#login_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	text-align: center;
	border-radius: 10px;
	width: 50%;
	margin: 1%;
	font-size: 1.5rem;
}

.content {
	margin: 5% 30% 0 30%;
	text-align: justify;
}

h1 {
	margin-bottom: 1%;
}

h2 {
	margin-bottom: 1%;
}

p {
	margin-bottom: 1%;
}

#objetivos_trabalho {
	margin-left: 3%;
	margin-bottom: 1%;
}

#titulo_pagina {
	text-align: center;
}


.table{
	margin-top: 5%;
	border-radius: 10px;
	border: #000000 1px solid;
	width: 100%;
}

tr:nth-child(even) {background-color: #413939;}

th,td{
	text-align: center;
}

#identificador_sala{
	text-align: center;
	margin-top: 5%;
}